<div *ngIf="allData$ | async as allData; else showLoading">
    <app-card-slider *ngIf="transactions.length > -1" [cards]="allData.data.accounts" [selectedCardId]="id" [totalAmount]="totalAmount" [totalTransactions]="transactions.length"></app-card-slider>
</div>

<ng-template #showLoading>
    <div class="Spinner_Container">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>

<section class="Details_Container">
    <div class="Transactions">
        <app-transactions-list *ngIf="transactions.length; else showNoTransactions" [transactions]="transactions"></app-transactions-list>
        <ng-template #showNoTransactions>
            <p>No transactions found.</p>
        </ng-template>
    </div>
    <div class="Charts">
        <mat-card>
            <mat-card-title>Transactions by merchant</mat-card-title>
            <mat-card-content>
                <app-pie-chart [results]="chartDataMerchant" class="Pie_Chart"></app-pie-chart>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>Transactions by classification</mat-card-title>
            <mat-card-content>
                <app-pie-chart [results]="chartDataMainClass" class="Pie_Chart"></app-pie-chart>
            </mat-card-content>
        </mat-card>
    </div>
</section>