<mat-paginator class="TransactionsPaginator" [length]="transactions.length" itemsPerPageLabel="Rows per page"
              [pageSize]="selectedPageSize"
              [pageSizeOptions]="[10, 25, 100]" (page)="changePage($event)">
</mat-paginator>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 TransactionsTable" multiTemplateDataRows matSort>
  <ng-container matColumnDef="data">
    <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
    <td mat-cell *matCellDef="let element">
      <div class="TransactionDetails">
        <div class="TransactionDetails_Content">
          <p class="large">{{ element.merchant_name ?  element.merchant_name : 'Merchant'}}</p>
          <div class="Caption">{{ element.timestamp | date: 'dd MMM' }} <span class="Circle_Separator">•</span> {{ element.transaction_classification.join(', ') }}</div>
        </div>
        <div class="TransactionDetails_Content">
          <p class="large bold">
            XX.XX kCO2e
          </p>
          <div class="Caption">
            {{ element.currency }} {{ element.amount | number: '1.2-2' }}
          </div>
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="TransactionsTable_HeaderRow"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"
      class="TransactionsTable_Row">
  </tr>
  </table>